.imagesWall img {
    width: 1000px;
    height: 600px;
    margin-left: 200px;
    margin-right: 200px;
}
.description {
    font-size: 25px;
    padding-bottom: 15px;
    text-align: center;
    margin-right: 40px;
}
