.Result {
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 16px;
    padding: 32px;
    justify-content: center;
}
.Result:hover {
    background-color: grey;
}
.Result p {
    margin: 1px;
    text-decoration: none;
    text-align: center;
}
.Result img {
    object-fit: contain;
    width: 200px;
}
.showsearch-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 200px;
}
.searchpage form {
    text-align: center;
    vertical-align: center;
    margin-top: 150px;
}
.searchpage form input {
    width: 400px;
    height: 50px;
    font-size: 32px;
}
.searchpage form button {
    width: 200px;
    height: 50px;
    font-size: 32px;
}
